doctype html
html(lang='en')
  head
    title Gavy Aggarwal
    link(rel='stylesheet', href='style.css', type='text/css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='transit.js')
    script(type='text/javascript', src='script.js')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0')
  body
    #background
      #pane1
      #spacer
      #pane2
    #panel1
      #content
        h2 Gavy Aggarwal
        #items
          h3 Developer
          #tooltip1
            #container
              span de&#183;vel&#183;op&#183;er
              br
              span A hard-working person devoted to transforming dreams into tangible products
          h3 Designer
          #tooltip2
            #container
              span de&#183;sign&#183;er
              br
              span An innovative idealist committed to making seamless, pixel-perfect interfaces
          h3 Hacker
          #tooltip3
            #container
              span hack&#183;er
              br
              span A brilliant mastermind eager to fiddle with things he's not supposed to
          h3 Hustler
          #tooltip4
            #container
              span hus&#183;tler
              br
              span An aggressive go-doer who'll do anything to overcome the obstacles in his way
        img(id='down-button', src='chevron.png')
    #panel2
      h2 Projects
      #slider
        #viewport
          .slider-content(id='dyli')
            .col
              img#logo(src='images/dyli1.png')
              br
              p I developed the front-end of dyli, a unique fashion app that lets you discover designers, brands, and boutiques based on your fasion tastes.
              p Summer 2014
              p
                a(href='https://itunes.apple.com/us/app/id858505722') Download
                a(href='http://dyliapp.com') Learn More
            .col
              img(src='images/dyli2.png')
          .slider-content
            img(src='http://totallycoolpix.com/wp-content/uploads/2011/20052011_scenic_photos/scenic_003.jpg')
          .slider-content
            img(src='http://totallycoolpix.com/wp-content/uploads/2011/20052011_scenic_photos/scenic_005.jpg')
          .slider-content
            img(src='http://totallycoolpix.com/wp-content/uploads/2011/20052011_scenic_photos/scenic_017.jpg')
        #left
        #right
        #dots
    #panel3
      h2 Skills
      .col
        h3 Front End
        h4 HTML5
        h4 CSS3
        h4 JavaScript
        h4 Jade
        h4 LESS
        h4 jQuery
        h4 CoffeeScript
      .col
        h3 Back End
        h4 node.js
        h4 PHP
        h4 MySQL
        h4 Parse
        h4 Amazon AWS
        h4 Wireshark
      .col
        h3 Mobile
        h4 iPhone & iPad
        h4 Android
        h4 Windows Phone
        h4 Titanium Appcelerator
        h4 Objective C
        h4 Swift
        h4 Java
        h4 C#
    #panel4
      h2 Contact
      .col
        h3 Get In Touch
        form
          input(type='text', name='name', placeholder='Name')
          hr
          input(type='text', name='email', placeholder='Email')
          hr
          input(type='text', name='subject', placeholder='Subject')
          hr
          textarea(placeholder='Message', name='message', id="contactmessage")
          #submitform
            span Submit
        h5(id="contactstatus")
      .col
        h3 Find Me On
        a.box(href='http://facebook.com/gavyaggarwal')
          img(src='facebook.png')
          span Facebook
        a.box(href='http://twitter.com/itsgavy')
          img(src='twitter.png')
          span Twitter
        a.box(href='https://plus.google.com/u/0/115071276851956208853/')
          img(src='google.png')
          span Google+
        a.box(href='https://github.com/gavyaggarwal')
          img(src='github.png')
          span Github
        a.box(href='http://instagram.com/gavyaggarwal')
          img(src='instagram.png')
          span Instagram
        a.box(href='http://www.linkedin.com/pub/gavy-aggarwal/7a/184/743')
          img(src='linkedin.png')
          span LinkedIn
    #panel5
      h4 Copyright 2014 by Gavy Aggarwal
      h5 Built Using Jade, LESS, Coffee, and Love
      img(id='up-button', src='chevron.png')
