doctype html
html(lang='en')
  head
    title Gavy Aggarwal
    link(rel='stylesheet', href='style.css', type='text/css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='script.js')
  body
    #background
      #pane1
      #spacer
      #pane2 CSS GOES HERE
