//Small Functions to Make Life Easier
//Copyright 2014 by Gavy Aggarwal

.padding(@padding-value: 15px) {
  padding:@padding-value;
}

.margin(@margin-value: 15px) {
  margin:@margin-value;
}

.font(@font-size: 20px; @font-weight: 300; @font-family: 'Open Sans') {
  font-size: @font-size;
  font-weight: @font-weight;
  font-family: @font-family, sans-serif;
}

.size(@element-width: 100%; @element-height: 100%) {
  width: @element-width;
  height: @element-height;
}

.inline {
  display:inline-block;
  vertical-align:middle;
}
