@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
.small-caps {
  font-variant: small-caps;
}
.center {
  text-align: center;
}
.no-select {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
html img,
body img {
  -webkit-user-drag: none;
}
#background {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
  background: #111;
  z-index: -1;
}
#background #spacer {
  filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  margin: auto 0px;
  padding: 0px;
  width: 1px;
  height: calc(100% -  30px);
  display: inline-block;
  vertical-align: middle;
  background: #222;
}
@media all and (max-width: 640px) {
  #background #spacer {
    width: 0px;
    height: 0px;
    display: none;
  }
}
#background #pane1,
#background #pane2 {
  filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  margin: 0px;
  padding: 15px;
  width: calc(50% -  31px);
  height: calc(100% -  30px);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0.2;
  background-image: url('slash_it.png');
}
@media all and (max-width: 640px) {
  #background #pane1 {
    width: calc(100% -  30px);
    height: calc(100% -  30px);
  }
}
@media all and (max-width: 640px) {
  #background #pane2 {
    width: 0px;
    height: 0px;
    display: none;
  }
}
#panel1 {
  padding: 0px;
  width: 100%;
  min-height: 100%;
  display: table;
}
#panel1 #content {
  padding: 30px;
  font-variant: small-caps;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
}
#panel1 #content h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}
#panel1 #content #items {
  text-align: center;
}
#panel1 #content #items h3 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  padding: 20px;
  width: 100px;
  height: auto;
}
#panel1 #content #items h3:hover + div {
  opacity: 1.0;
  transform: translateX(0px) scale(1);
  -o-transform: translateX(0px) scale(1);
  -ms-transform: translateX(0px) scale(1);
  -moz-transform: translateX(0px) scale(1);
  -webkit-transform: translateX(0px) scale(1);
}
#panel1 #content img {
  margin: auto;
  transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  margin: 50px auto 0px auto;
  display: block;
  cursor: pointer;
  opacity: 1.0;
}
#panel1 #content img:hover {
  opacity: 0.8;
}
#panel2 {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  font-variant: small-caps;
  border-top: 2px solid #4cd964;
  border-bottom: 2px solid #4cd964;
  background: rgba(255, 255, 255, 0.9);
  color: #4cd964;
}
#panel2 h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}
#panel2 #slider {
  width: 100%;
  height: auto;
}
#panel2 #slider .slider-content {
  font-variant: normal;
}
#panel2 #slider .slider-content h1 {
  font-size: 54px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-variant: small-caps;
}
#panel2 #slider .slider-content a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  width: 100px;
  height: auto;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  box-shadow: 0 0 1px #4cd964;
  border: 1px solid #4cd964;
  border-radius: 10px;
  text-decoration: none;
  background: rgba(76, 217, 100, 0.8);
  color: white;
}
#panel2 #slider .slider-content a:hover {
  background: #4cd964;
}
#panel2 #slider .slider-content .col {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  #panel2 #slider .slider-content .col {
    width: 100%;
    height: auto;
  }
}
#panel2 #slider #passprotect {
  text-align: center;
  color: #34aadc;
}
#panel2 #slider #passprotect img {
  width: 1040px;
  height: auto;
  max-width: 100%;
}
#panel2 #slider #passprotect a {
  width: 200px;
  height: auto;
  box-shadow: 0 0 1px #34aadc;
  border: 1px solid #34aadc;
  background: rgba(52, 170, 220, 0.8);
}
#panel2 #slider #passprotect a:hover {
  background: #34aadc;
}
#panel2 #slider #dyli {
  text-align: center;
  color: #ee355c;
}
#panel2 #slider #dyli .col:first-child #logo {
  margin: auto;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  display: block;
}
#panel2 #slider #dyli .col:first-child a {
  width: 100px;
  height: auto;
  box-shadow: 0 0 1px #ee355c;
  border: 1px solid #ee355c;
  background: rgba(238, 53, 92, 0.8);
}
#panel2 #slider #dyli .col:first-child a:hover {
  background: #ee355c;
}
#panel2 #slider #dyli .col:last-child img {
  max-width: 473px;
  max-height: 100%;
}
#panel2 #slider #remotemusic {
  text-align: center;
  color: #ff8c00;
}
#panel2 #slider #remotemusic img {
  width: auto;
  height: auto;
  max-width: 490px;
  max-height: 100%;
}
#panel2 #slider #remotemusic a {
  width: 200px;
  height: auto;
  box-shadow: 0 0 1px #ff8c00;
  border: 1px solid #ff8c00;
  background: rgba(255, 140, 0, 0.8);
}
#panel2 #slider #remotemusic a:hover {
  background: #ff8c00;
}
#panel3 {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  font-variant: small-caps;
  text-align: center;
  color: white;
}
#panel3 h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}
#panel3 .col {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  height: auto;
  min-width: 300px;
  vertical-align: top;
}
#panel3 .col:nth-child(3) {
  width: 34%;
  height: auto;
}
#panel3 h3 {
  font-size: 48px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#panel3 h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#panel4 {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  font-variant: small-caps;
  text-align: center;
  border-top: 2px solid #ff3b30;
  border-bottom: 2px solid #ff3b30;
  background: rgba(255, 255, 255, 0.9);
  color: #ff3b30;
}
#panel4 h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}
#panel4 h3 {
  font-size: 32px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}
#panel4 .col {
  width: 400px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  vertical-align: text-top;
  text-align: left;
}
@media all and (min-device-width: 320px) and (max-device-width: 568px) {
  #panel4 .col {
    width: 264px;
    height: auto;
  }
}
#panel4 a {
  color: #ff3b30;
  font-weight: 600;
}
#panel4 form {
  margin: 10px 0px 0px 0px;
  display: block;
  border-radius: 5px;
  background: white;
  overflow: hidden;
}
#panel4 form input,
#panel4 form textarea {
  width: calc(100% - 20px);
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 10px;
  border-width: 0px;
  outline: none;
}
#panel4 form textarea {
  height: 80px;
  resize: none;
  overflow: auto;
  line-height: 40px;
}
#panel4 form hr {
  width: calc(100% - 20px);
  height: 1px;
  margin: 0px auto;
  background: #ff3b30;
  border-width: 0px;
}
#panel4 form #submitform {
  width: 100%;
  height: 40px;
  padding: 0px;
  transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -webkit-transition: background 0.4s ease-in-out;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 38px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 59, 48, 0.8);
}
#panel4 form #submitform:hover {
  background: #ff3b30;
}
#panel4 h5 {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 3px 0px 10px 0px;
  transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  font-variant: normal;
  opacity: 0;
}
#panel4 .box {
  width: 118px;
  height: 118px;
  margin: 8px 0px 0px 8px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -webkit-transition: background 0.4s ease-in-out;
  text-align: center;
  text-decoration: none;
  background: rgba(255, 59, 48, 0.8);
  color: white;
  cursor: pointer;
  overflow: hidden;
}
#panel4 .box:hover {
  background: #ff3b30;
}
@media all and (min-device-width: 320px) and (max-device-width: 568px) {
  #panel4 .box:nth-child(2n+2) {
    margin-left: 0px;
  }
}
@media all and (min-device-width: 568px) {
  #panel4 .box:nth-child(3n+2) {
    margin-left: 0px;
  }
}
#panel4 .box img {
  width: auto;
  height: 60px;
  margin: 14px 0px 0px 0px;
}
#panel4 .box span {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  display: block;
}
#panel5 {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  font-variant: small-caps;
  text-align: center;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  color: white;
}
#panel5 h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
#panel5 h5 {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
#panel5 img {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  margin: auto;
  transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 0px;
  left: auto;
  right: 20px;
  bottom: 0px;
  opacity: 1.0;
}
#panel5 img:hover {
  opacity: 0.8;
}
#slider {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
#slider #viewport {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}
#slider #viewport .slider-content {
  width: calc(100% - 240px);
  height: 100%;
  margin: 0px;
  padding: 0px 120px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  white-space: normal;
  word-wrap: break-word;
}
@media screen and (max-width: 600px) {
  #slider #viewport .slider-content {
    width: calc(100% - 10px);
    height: 100%;
    padding: 5px;
  }
}
#slider #left,
#slider #right {
  margin: 0px 0px;
  width: 40px;
  height: 40px;
  mask-image: url('chevron.png');
  -o-mask-image: url('chevron.png');
  -ms-mask-image: url('chevron.png');
  -moz-mask-image: url('chevron.png');
  -webkit-mask-image: url('chevron.png');
  transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  background: #4cd964;
  cursor: pointer;
  z-index: 2;
  opacity: 0.6;
}
#slider #left:hover,
#slider #right:hover {
  opacity: 1;
}
#slider #left {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  position: absolute;
  top: calc(50% - 20px -  15px);
  right: auto;
  bottom: auto;
  left: 40px;
}
#slider #right {
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
  position: absolute;
  top: calc(50% - 20px -  15px);
  left: auto;
  right: 40px;
  bottom: auto;
}
#slider #dots {
  width: auto;
  height: 30px;
  padding: 0px;
  text-align: center;
}
#slider #dots .dot {
  margin: 10px;
  width: 6px;
  height: 6px;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border: 2px solid #4cd964;
  background-color: transparent;
  cursor: pointer;
}
#slider #dots .dot:hover {
  background-color: #4cd964;
}
#slider #dots .selected {
  transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  background-color: #4cd964;
}
#tooltip1,
#tooltip2,
#tooltip3,
#tooltip4 {
  width: 0px;
  height: 0px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transform: translateX(-90px) scale(0);
  -o-transform: translateX(-90px) scale(0);
  -ms-transform: translateX(-90px) scale(0);
  -moz-transform: translateX(-90px) scale(0);
  -webkit-transform: translateX(-90px) scale(0);
  opacity: 0.0;
}
#tooltip1 #container,
#tooltip2 #container,
#tooltip3 #container,
#tooltip4 #container {
  position: relative;
  top: 20px;
  left: -200px;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 100px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  color: #333;
  background: #ffffff;
  border-radius: 10px;
  font-variant: normal;
}
#tooltip1 #container:before,
#tooltip2 #container:before,
#tooltip3 #container:before,
#tooltip4 #container:before {
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 100px;
  right: auto;
  bottom: auto;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}
#tooltip1 #container > :first-child,
#tooltip2 #container > :first-child,
#tooltip3 #container > :first-child,
#tooltip4 #container > :first-child {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}
