//out:style.css,compress:true

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import "mixins.less";

html,body {
  .margin(0px);
  .padding(0px);
  .size(100%; 100%);
}

#background {
  @padding: 15px;
  @spacer-width: 1px;
  @two-pane-width: 640px;
  .margin(0px);
  .padding(0px);
  .font(16px,400);
  .size(100%; 100%);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:#FFF;
  background:#111;
  z-index:-1;
  #spacer {
    .blur(1px);
    .margin(auto 0px);
    .padding(0px);
    .size(@spacer-width;calc(~"100% - "2 * @padding););
    .inline;
    background:#222;
    @media all and (max-width: @two-pane-width) {
      .size(0px;0px;);
      display:none;
    }
  }
  #pane1, #pane2 {
    .blur(1px);
    .margin(0px);
    .padding(@padding);
    .size(calc(~"50% - "2 * @padding + @spacer-width);calc(~"100% - "2 * @padding););
    .inline;
    overflow:hidden;
    white-space: nowrap;
    opacity:0.2;
    background-image:url('slash_it.png');
  }
  #pane1 {
    @media all and (max-width: @two-pane-width) {
      .size(calc(~"100% - "2 * @padding);calc(~"100% - "2 * @padding););
    }
  }
  #pane2 {
    @media all and (max-width: @two-pane-width) {
      .size(0px;0px;);
      display:none;
    }
  }
}

#panel1 {
  @padding: 15px;
  .size(calc(~"100% - "2 * @padding);100%;);
  .padding(0px @padding);
  .small-caps;
  color:white;
  h2 {
    .font(64px);
    .no_height;
    .center;
  }
  #items {
  .no_height;
    .center;
    h3 {
      .font(24px);
      .inline;
    }
  }
  img {
    .margin(auto);
    .transition(opacity);
    display:block;
    cursor:pointer;
    opacity:1.0;
    &:hover {
      opacity:0.8;
    }
  }
}

#panel2 {
  @color:#4CD964;
  .size;
  .padding(15px 0px);
  .small-caps;
  border-top: 2px solid @color;
  border-bottom: 2px solid @color;
  background:rgba(255,255,255,0.9);
  color:@color;
  h2 {
    .font(64px);
    .margin(0px);
    .center;
  }
  #slider {
    .size();
    .slider-content {
      img {
        width:100%;
      }
    }
  }
}

#panel3 {
  .size;
  .padding(15px 0px);
  .small-caps;
  .center;
  color:white;
  h2 {
    .font(64px);
    .margin(0px);
    .center;
  }
  .col {
    .inline;
    .size(33%);
    min-width:300px;
    vertical-align:top;
  }
  .col:nth-child(3) {
    .size(34%);
  }
  h3 {
    .font(48px);
    .center;
  }
  h4 {
    .font(24px);
    .center;
  }
}

#panel4 {
  @color:#FF3B30;
  .size;
  .padding(15px 0px);
  .small-caps;
  .center;
  border-top: 2px solid @color;
  border-bottom: 2px solid @color;
  background:rgba(255,255,255,0.9);
  color:@color;
  h2 {
    .font(64px);
    .margin(0px);
    .center;
  }
  h3 {
    .font(32px);
    .margin(0px);
    .center;
  }
  .col {
    .size(400px);
    .inline;
    .padding(15px);
    vertical-align:text-top;
    text-align:left;
    @media all and (min-device-width : 320px) and (max-device-width : 568px) {
      .size(264px);
    }
  }
  a {
    color:@color;
    font-weight:600;
  }
  form {
    .margin(10px 0px 0px 0px);
    display:block;
    border-radius:5px;
    background:white;
    overflow:hidden;
    input,textarea {
      .size(calc(~"100% - 20px");40px;);
      .font(20px);
      .padding(0px 10px);
      border-width:0px;
      outline:none;
    }
    textarea {
      height:80px;
      resize:none;
      overflow:auto;
      line-height:40px;
    }
    hr {
      .size(calc(~"100% - 20px");1px;);
      .margin(0px auto);
      background:@color;
      border-width:0px;
    }
    #submitform {
      .size(100%;40px;);
      .padding(0px);
      .transition(background);
      .font(24px);
      .center;
      line-height:38px;
      color:white;
      border-radius:5px;
      cursor:pointer;
      background:fade(@color, 80%);
      &:hover {
        background:@color;
      }
    }
  }
  h5 {
    .font(16px);
    .center;
    .margin(3px 0px 10px 0px);
    .transition(opacity);
    font-variant: normal;
    opacity:0;
  }
  .box {
    .size(118px;118px;);
    .margin(8px 0px 0px 8px);
    .padding(5px);
    .inline;
    .transition(background);
    .center;
    text-decoration:none;
    background:fade(@color, 80%);
    color:white;
    cursor:pointer;
    overflow:hidden;
    &:hover {
      background:@color;
    }
    @media all and (min-device-width : 320px) and (max-device-width : 568px) {
      &:nth-child(2n+2) {
        margin-left:0px;
      }
    }
    @media all and (min-device-width : 568px) {
      &:nth-child(3n+2) {
        margin-left:0px;
      }
    }
    img {
      .size(auto;60px);
      .margin(14px 0px 0px 0px);
    }
    span {
      .font(24px);
      .margin(0px);
      .padding(0px);
      display:block;
    }
  }
}

#panel5 {
  .size;
  .padding(15px 0px);
  .small-caps;
  .center;
  position:relative;
  color:white;
  h4 {
    .font(24px);
    .margin(0px);
  }
  h5 {
    .font(18px);
    .margin(0px);
  }
  img {
    .rotate(180);
    .margin(auto);
    .transition(opacity);
    position:absolute;
    right:20px;
    top:0px;
    bottom:0px;
    opacity:1.0;
    &:hover {
      opacity:0.8;
    }
  }
}

#slider {
  @color:#4CD964;
  @dots-height: 30px;
  position:relative;
  #viewport {
    .size(calc(~"100% - 120px");auto;);
    .margin(0px);
    .padding(0px 60px);
    overflow-y:hidden;
    overflow-x:hidden;
    white-space:nowrap;
    .slider-content {
      @width:calc(~"100% - 120px");
      .size(@width;100%;);
      .margin(0px 60px);
      .padding(0px);
      .inline;
      .font;
    }
  }
  #left,#right {
    .margin(0px 0px);
    .size(40px;40px;);
    .mask-image('chevron.png');
    .transition(opacity);
    position:absolute;
    top:calc(~"50% - 20px - "@dots-height/2);
    background:@color;
    cursor:pointer;
    z-index:2;
    opacity:0.6;
    &:hover {
      opacity:1;
    }
  }
  #left {
    .rotate(90);
    left:40px;
  }
  #right {
    .rotate(-90);
    right:40px;
  }
  #dots {
    .size(auto; @dots-height);
    .padding(0px);
    .center;
    .dot {
      @dot-size:6px;
      .margin(10px);
      .size(@dot-size;@dot-size;);
      .transition(background-color);
      .inline;
      border-radius:5px;
      border:2px solid @color;
      background-color:transparent;
      cursor:pointer;
      &:hover {
        background-color:@color;
      }
    }
    .selected {
      background-color:@color;
    }
  }
}

.hspace {
  .inline;
  .size(50px);
}

.vspace {
  .inline;
  .size(100%, 20%);
}
